body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c35;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #373c49;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: yellow; /* Set the color to yellow */
}

.card {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

form {
    display: grid;
    grid-gap: 15px;
}

button {
    padding: 12px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4fa3d1;
}

#userReviews {
    margin-top: 20px;
}

.review {
    border: 1px solid #666;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.review p {
    margin: 10px 0;
    padding-left: 25px;
}

.star-rating {
    display: flex;
    align-items: center;
}

.star-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px; /* Add a bit of gap between star icons */
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: yellow; /* Set the background color to yellow */
    border-radius: 50%; /* Set the border radius to 50% */
}

.star-icon.selected {
    transform: scale(1.2);
    background-color: #fdd835; /* Set a different color for selected stars if desired */
    border-radius: 50%; /* Set the border radius to 50% */
}
