body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(172, 172, 172);
    background-image: url("bbb.png");
    /* background-size: 200%; */
    background-repeat: no-repeat;
    height: 100%; 

    background-position:left;
    background-size: 45% 1000000000% ;
}

.bg-text {
    background-color: rgba(237, 201, 123, 0.248);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    float:left;
    width: 40%;
    padding: 20px;
    text-align: center;
    
}

input{
    padding: 2em;
    border-radius: 6%;
}
                  
.review {
    margin-bottom: 20px;
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-title {
    font-size: 1.2em;
}

.review-content {
    font-size: 1em;
}

h1{
    text-indent: 22px;
    text-align:center
}
.overall{
    width: 50%;
    text-align: left;
    border: #f9f9f9;
    background: linear-gradient(45deg,rgba(210, 179, 179, 0.427),rgb(139, 116, 116),rgb(105, 105, 105));
    border-radius: 10px ;
    margin-left: 50%;
    padding:2em;
}
select{
    width: 50%;
    padding:1em;
    text-align:center;
    
}